:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --accent-color: #2e2f42;
  --secondary-color: #434455;
}

.logo-span {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  color: var(--accent-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.list {
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.page-navigation {
  display: flex;
  align-items: center;
}

body {
  font-family: var(--main-font-family);
  color: #434455;
  background-color: #ffffff;
  margin: auto;
}

.page-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu {
  display: flex;
  gap: 40px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.menu-item {
  line-height: 1.5;
  color: #2e2f42;
}

.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contact-links {
  font-style: normal;
  line-height: 1.5;
  margin-left: auto;
  display: flex;
  gap: 40px;
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}

.contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hw-four/people-office.jpg);
  background-size: cover;
  top: 71px;
  padding: 188px 0px;
  /*hw4 corect*/
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.hero-container {
  text-align: center;
}

.hero-caption {
  font-weight: 700;
  font-size: 56px;
  /* or 107% */
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: auto;
}

.modal-open-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: block;
  border-radius: 4px;
  /*hw4 corect*/
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.theme {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.description-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.filter {
  background-color: #f4f4fd;
  color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thirde-header {
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
}

.colective {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.lust-header {
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-item-two {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  /*hw4 corect*/
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.end {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.end-span {
  color: #f4f4fd;
}

.features-item {
  width: calc((100%-72px) / 4);
}

.first-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  align-items: start;
  gap: 24px;
}

.photo-item {
  width: calc((100%-48px) / 3);
}

.photo-section {
  padding-bottom: 120px;
}

.photo-list {
  gap: 24px;
}

.colective-list {
  text-align: center;
  gap: 24px;
}

.colective-text {
  padding: 32px /*16px*/ 0 32px;
}

.end-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.filters {
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter:hover,
.filter:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.catalog {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-section {
  padding-bottom: 120px;
  padding-top: 96px;
}

.card {
  background: #ffffff;
}

.card-text {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-icon {
  background-color: #f4f4fd;
  text-align: center;
  justify-content: center;
  display: flex;
}

.social-list {
  display: flex;
  justify-content: center;
  /*padding-top: 8px;
  padding-bottom: 32px; (hw4 corect)*/
  padding: 32px 0 32px;
  flex-direction: column;
}

.social-list-item {
  fill: #f4f4fd;
  /*width: 16px;
  height: 16px; (hw4 corect)*/
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 40px;
  height: 40px;*/
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  /*hw4 corect*/
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-minilist {
  column-gap: 24px;
  /*hw4 corect*/
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.logoclient {
  fill: currentColor;
}
.customers-list {
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.logo-btn {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-btn:hover,
.logo-btn:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customers-theme {
  line-height: 1.11;
  color: var(--accent-color);
  margin-bottom: 72px;
}

.dark-name {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-social {
  justify-content: right;
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: #31d0aa;
}

.catalog-card-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  /*padding: 15px; (hw4)*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  overflow: auto;
  transform: translateY(100%);

  /*transition: transform 500ms linear;*/
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .overlay,
.card:focus .overlay {
  transform: translateY(0%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.5);
  hw4 corect*/
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms linear, visibility 500ms linear;
  /*hw4 corect*/
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*hw5-corect*/
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid #555555;
  border-radius: 50%;
  /*hw4 corect*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*hw4 correct*/
.studio-open {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-open::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

.features-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.social-list-minilist-item {
  width: 40px;
  height: 40px;
}

.customers {
  padding: 120px 0;
}

.customers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.footer-div {
  display: flex;
  align-items: baseline;
}

.footer-logo-div {
  margin-right: 120px;
}

.social-list-minilist-footer {
  gap: 16px;
}

.portfolio-open {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-open::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

/*hw5 start*/
.modal-header {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #2e2f42;
}

.form-zone {
  display: block;
  position: relative;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.form-input-zone {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-zone:focus {
  outline: none;
  border-color: #4d5ae5;
}

.form-input-zone:focus + .form-icon-wrapper {
  fill: #4d5ae5;
}

.form-text {
  display: block;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 116.667% */
  letter-spacing: 0.48px;
}

.form-icon-wrapper {
  position: absolute;
  display: block;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.form-message {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  line-height: 1.17;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}

.checkbox-text {
  width: 16px;
  height: 16px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 116.667% */
  letter-spacing: 0.48px;
}

.modal-submit-button {
  margin-left: 100px;
  display: block;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white, #fff);
  text-align: center;
  /* Button Text */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.64px;
  width: auto;
  height: auto;
  justify-content: center;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-text {
  width: 105px;
}

.hwcorect-div {
  margin-bottom: 8px;
}

.hwcorect-text-div {
  margin-bottom: 16px;
}

.checkbox-div {
  margin-bottom: 24px;
}

.user-privacy-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-text:checked + .user-privacy-text .checkbox-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-link {
  color: #4d5ae5;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-submit-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.plane-icon {
  margin-left: 16px;
}

.subscribe {
  margin-left: 80px;
}